<div *ngIf="menu" class="menu-detail">
  <h2>{{ menu.name }} 수정하기</h2>
  <div><span>번호: </span>{{ menu.id }}</div>
  <div class="menus__change">
    <div class="menus__change__div">
      <label for="name">메뉴 이름: </label>
      <input id="name" placeholder="메뉴 이름" [(ngModel)]="menu.name" />
    </div>
    <div class="menus__change__div">
      <label for="price">가격: </label>
      <input
        type="number"
        id="price"
        placeholder="가격"
        [(ngModel)]="menu.price"
      />
    </div>
  </div>
</div>
